form.login-form {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }

 .login {
    border: none;
    padding: 20px;
  }


  label {
    display: block;
    font-size: 18px;
    margin-top:10px;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button.login.btn {
    width: 106%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    }

  button.login.btn:hover {
    background-color: #555;
  }

  em {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }