body.login {
  background-color: #fceaed;
    background-position-y: 70px;
    background-image: url(/src/assets/background.png);
    background-size: 105.3%;
}

div.envelope {
  display: flex;
  background-image: url(/src/assets/envelope.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 50px;
  margin-right: 30px;
  height:350px;
  }

.login-form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 100px;
  font-family: monospace, sans-serif;
}

div.email, div.password{
  margin-bottom: 15px;
}

.register-form {
  margin-right: 80%;
  margin-top: 20%;
}

fieldset {
  border: transparent;
  background: transparent;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.input[type="text"],
.input[type="password"] {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.login.btn {
  background-color: #333;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  margin-left: 25px;
  }

  button.login.btn:hover {
  background-color: #555;
}

canvas.lower-canvas.login-canvas,
canvas.upper-canvas.login-canvas {
  margin-top: 487px;
  margin-left: 65px;
}

div.Login-register {
  margin-top: 100px;
  width: 65%
}