button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-addParty,
#btn-addHeart,
#btn-addKiss,
#btn-addAww,
#btn-addSurprise,
#btn-addLol,
#btn-addHands,
#btn-addHurt,
#btn-addHug {
    background-color: transparent;
    font-size: 40px;
    border: none;
}


.navigation-bar {
    display: absolute;
    width: 100px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding-top: 5rem;
}

.canvas-container, .my-canvas-container {
    width: auto;
    height: auto;
}



canvas {
    border: 2px solid black;
    /* display: absolute; */
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: -525px;
    margin-left: 337px;
}

form {
    margin: 0;
}

#title {
    width: auto;
    left: 0;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 325px;
}

#description {
    width: auto;
    min-width: 580px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-top: 410px;
    margin-left: 317px;
}

#occasion {
    width: 15%;
    margin-top: -600px;
    margin-left: 780px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#save {
    /* position: absolute; */
    margin-top: 5px;
    width: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 395px;
}