button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navigation-bar {
    display: absolute;
    width: 100px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding-top: 5rem;
  }

  .canvas-container {
    display: absolute;

  }

  

  canvas {
    border: 2px solid black;
    display: absolute;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 22.5%;
    margin-left: 55%;
  }

  
  #title {
    position: absolute;
    top: 16%;
    width: 46%;
    left: 0;
    right: 20%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 26.1%;
  }
  
  #description {
    position: absolute;
    top: 68%;
    width: 46%;
    left: 0;
    right: 20%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 26.1%;
  }
  #occasion {
    position: absolute;
    top: 13%;
    width: 12%;
    left: 35.5%;
    right: 20%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 26.1%;
  }
  #save {
    position: absolute;
    top: 73%;
    width: 46%;
    left: 0;
    right: 20%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 27.2%;
  }