#btn-addText {
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}


#btn-addParty,
#btn-addHeart,
#btn-addKiss,
#btn-addAww,
#btn-addSurprise,
#btn-addLol,
#btn-addHands,
#btn-addHurt,
#btn-addHug {
    background-color: transparent;
    font-size: 40px;
    border: none;
}


.navigation-bar {
    display: absolute;
    width: 100px;
    background-color: transparent;
    position: absolute;
    left: 0;
    font-family: monospace, sans-serif;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin-top: 50px;
    padding-top: 65px;
}

.canvas-container, .my-canvas-container {
    width: 0px;
    height: 0px;
    margin-top: -480px;
}

canvas {
    border: 2px solid black;
    /* display: absolute; */
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-left: 358px;
}

form.card-form-fields {
    margin: 0;
}

fieldset.card-form-fields {
    margin-top: -200px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-left: 50px;

}

#title {
    width: auto;
    left: 0;
    margin-top: 210px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 485px;
    font-family: monospace, sans-serif;
    font-size: larger;
}

#description {
    width: auto;
    font-family: monospace, sans-serif;
    min-width: 580px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-top: 408px;
    margin-left: 317px;
    font-size: larger;
}

#occasion {
    width: auto;
    margin-top: 0px;
    margin-left: 728px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#save {
    margin-top: 5px;
    width: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 395px;
    font-family: monospace, sans-serif;
}

.github-picker {
    margin-left: 70%;
    transform: rotate(90deg) translate(45%) scale(1, -1);
  }
  